// DO NOT REMOVE!!
// Note: this file used to add sass variables into components
@use './_theme.scss' as theme;

// Use sass:map and sass:meta to export values
@use 'sass:map';
@use 'sass:meta';

// Map module-variables from theme file
$exported: meta.module-variables(theme);

:export {
	bp01    : map.get($exported, 'bp-01');
	bp02    : map.get($exported, 'bp-02');
	bp03    : map.get($exported, 'bp-03');
	bp04    : map.get($exported, 'bp-04');
	color01 : map.get($exported, 'color-01');
	color02 : map.get($exported, 'color-02');
	color03 : map.get($exported, 'color-03');
	color04 : map.get($exported, 'color-04');
	color05 : map.get($exported, 'color-05');
	color06 : map.get($exported, 'color-06');
	color07 : map.get($exported, 'color-07');
	color08 : map.get($exported, 'color-08');
	color09 : map.get($exported, 'color-09');
	color10 : map.get($exported, 'color-10');
	color11 : map.get($exported, 'color-11');
	color12 : map.get($exported, 'color-12');
}