// PX to EM/REM conversion
// From https://css-tricks.com/snippets/sass/px-to-em-functions
@function em($pixels, $unit: em, $context: 16px) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}
	@if (unitless($context)) {
		$context: $context * 1px;
	}
	$multiplier: 1em;
	@if ($unit == 'rem') {
		$multiplier: 1rem;
	}
	@return calc($pixels / $context) * $multiplier;
}

// Helper function to replace characters in a string
@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);
	@return if($index, str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace), $string);
}

// Encode svg (mostly for use in background-image)
@function svg-encode($svg) {
	// Add missing namespace
	@if not str-index($svg, xmlns) {
		$svg: str-replace($svg, '<svg','<svg xmlns="http://www.w3.org/2000/svg"');   
	}

	// Encode characters in svg
	$encoded: str-replace($svg, '%', '%25');
	$encoded: str-replace($encoded, '#', '%23');
	$encoded: str-replace($encoded, '{', '%7B');
	$encoded: str-replace($encoded, '}', '%7D');
	$encoded: str-replace($encoded, '<', '%3C');
	$encoded: str-replace($encoded, '>', '%3E');

	@return url("data:image/svg+xml, #{$encoded}");
}

// Source - [@Stephn-R] (https://github.com/sass/sass/issues/1395#issuecomment-57483844)
// Description converts 1 or more characters into a unicode
// Input: unicode("e655")
// Output: "\e655"
@function unicode($str) {
	@return unquote("\"") + unquote(str-insert($str, "\\", 1)) + unquote("\"");
}