// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// DROPDOWN
//// --------------------------------------------------------------------------

	// Colors

	$dropdown-color-01: theme.$color-04; // button border
	$dropdown-color-02: theme.$color-03; // button background
	$dropdown-color-03: false; // content border
	$dropdown-color-04: false; // content background

	// Configuration

	$dropdown-height: 35px; // height of dropdown button
	$dropdown-spacing: theme.$spacing-x2; // overall spacing of dropdown
	$dropdown-content-gap: -1px; // spacing between dropdown button and content

	// Style block

	.dropdown {
		position: relative;
		&.dropdown-expanded {
			.dropdown-button {
				.dropdown-button-toggle .icon-wrapper {
					@include mixins.transform(rotate(180deg));
				}
			}
			.dropdown-content {
				z-index: 1;
				opacity: 1;
				visibility: visible;
			}
		}
		.dropdown-button, .dropdown-content {
			border: 1px solid transparent;
			@if $dropdown-color-03 == false or $dropdown-color-01 == $dropdown-color-03 {
				border-color: $dropdown-color-01;
			}
			@if  $dropdown-color-04 == false $dropdown-color-02 == $dropdown-color-04 {
				background-color: $dropdown-color-02;
			}
		}
		.dropdown-button {
			height: $dropdown-height;
			line-height: $dropdown-height;
			@include mixins.gap($dropdown-spacing);
			padding: 0 $dropdown-spacing;
			@if $dropdown-color-01 != $dropdown-color-03 {
				border-color: $dropdown-color-01;
			}
			@if $dropdown-color-02 != $dropdown-color-04 {
				background-color: $dropdown-color-02;
			}
			&, .dropdown-button-toggle {
				@include mixins.flex-layout((flex-flow: row nowrap, align-items: center));
				cursor: pointer;
			}
			a, .dropdown-button-toggle {
				min-width: 1px;
			}
			a {
				@include mixins.flex(0 1 auto);
			}
			.dropdown-button-toggle {
				@include mixins.flex;
				.icon-wrapper {
					@include mixins.transition(transform ease 0.5s);
					margin-left: auto;
					order: 9999;
				}
			}
		}
		.dropdown-content {
			@include mixins.position($type: absolute, $top: auto, $left: 0, $right: 0, $z: -1);
			margin: $dropdown-content-gap 0 0 0;
			opacity: 0;
			visibility: hidden;
			@include mixins.transition(opacity 0.5s ease);
			padding: $dropdown-spacing;
			@if $dropdown-color-03 != false and $dropdown-color-01 != $dropdown-color-03 {
				border-color: $dropdown-color-03;
			}
			@if $dropdown-color-04 != false and $dropdown-color-02 != $dropdown-color-04 {
				background-color: $dropdown-color-04;
			}
		}
	}