// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// FORMS
//// --------------------------------------------------------------------------

	// Colors

	$forms-color-01: theme.$color-04; // focus visible border color

	// Style block
	
	:focus-visible {
		outline: 1px solid $forms-color-01;
		outline-offset: 2px;
	}
	fieldset, label, .label, legend {
		margin: 0;
	}
	fieldset { 
		padding: 0;
		border: 0;
	}
	legend {
		display: inline;
	}

//// FORMS - BUTTON
//// --------------------------------------------------------------------------

	// Colors

	$forms-button-color-01: theme.$color-04; // primary button background
	$forms-button-color-02: theme.$color-04; // primary button border
	$forms-button-color-03: theme.$color-03; // primary button color	
	$forms-button-color-04: theme.$color-05; // secondary button background
	$forms-button-color-05: theme.$color-05; // secondary button border
	$forms-button-color-06: theme.$color-03; // secondary button color	
	$forms-button-color-07: theme.$color-03; // tertiary button background
	$forms-button-color-08: theme.$color-04; // tertiary button border
	$forms-button-color-09: theme.$color-04; // tertiary button color

	// Configuration
	
	$forms-button-spacing: 0 theme.$spacing-x4; // button spacing
	$forms-button-height: 35px; // button height
	$forms-button-border-width: 1px; // button border width

	// Style block

	button, .button {
		@include mixins.flex-layout((display: inline-flex, flex-flow: row nowrap, align-items: center, justify-content: center));
		@include mixins.gap(theme.$spacing-x1);
	}
	.button {
		max-width: 100%;
		@include mixins.if-exists((
			padding: $forms-button-spacing,
		));
		@if $forms-button-border-width != false {
			border: $forms-button-border-width solid transparent;
		}
		height: $forms-button-height;
		line-height: $forms-button-height;
		.button-label {
			line-height: 1.5;
			@include mixins.ellipsis;
		}
	}
	.button-primary {
		@if $forms-button-border-width != false and $forms-button-color-02 != false {
			border-color: $forms-button-color-02;
		}
		background-color: $forms-button-color-01;
		color: $forms-button-color-03;
		&:hover {
			@include mixins.if-exists((
				background-color: $forms-button-color-03,
				color: $forms-button-color-01,
			));
		}
	}
	.button-secondary {
		@if $forms-button-border-width != false and $forms-button-color-05 != false {
			border-color: $forms-button-color-05;
		}
		@include mixins.if-exists((
			background-color: $forms-button-color-04,
			color: $forms-button-color-06,
		));
		&:hover {
			@include mixins.if-exists((
				background-color: $forms-button-color-06,
				color: $forms-button-color-04,
			));
		}
	}
	.button-tertiary {
		@if $forms-button-border-width != false and $forms-button-color-08 != false {
			border-color: $forms-button-color-08;
		}
		@include mixins.if-exists((
			background-color: $forms-button-color-07,
			color: $forms-button-color-09,
		));
		&:hover {
			@include mixins.if-exists((
				background-color: $forms-button-color-09,
				color: $forms-button-color-07,
			));
		}
	}
	.button-unstyled {
		padding: 0;
		border: 0;
		background-color: transparent;
	}

//// FORMS - CHOICE
//// --------------------------------------------------------------------------

	// Colors

	$forms-choice-color-01: theme.$color-03; // choice background
	$forms-choice-color-02: theme.$color-04; // choice border
	$forms-choice-color-03: theme.$color-03; // active choice background
	$forms-choice-color-04: theme.$color-04; // active choice border
	$forms-choice-color-05: theme.$color-04; // active choice color

	// Configuration
	
	$forms-choice-size: 16px; // choice height
	$forms-choice-vertical: 3px; // vertical position of choice
	$forms-choice-horizontal: 0; // horizontal position of choice
	$forms-choice-alignment: left; // choice aligned left or right
	$forms-choice-spacing: theme.$spacing-x2; // spacing between checkbox and label
	$forms-choice-border-width: 1px; // choice border width
	$forms-choice-active-border-width: false; // active choice border width

	// Variables

	$forms-choice-align: if($forms-choice-alignment == left or $forms-choice-alignment == right, $forms-choice-alignment, left);

	// Style block

	.choice-wrapper {
		position: relative;
		padding: 0;
		padding-#{$forms-choice-align}: $forms-choice-size + $forms-choice-horizontal + $forms-choice-spacing;
		.icon-wrapper {
			@include mixins.sizing($forms-choice-size, $forms-choice-size);
			@include mixins.position($type: absolute, $top: $forms-choice-vertical);
			#{$forms-choice-align}: $forms-choice-horizontal;
			padding: 3px;
			@include mixins.if-exists((
				background-color: $forms-choice-color-01,
			));
			@if $forms-choice-border-width != false and $forms-choice-color-02 != false {
				border: $forms-choice-border-width solid $forms-choice-color-02;
			}
			.icon {
				@include mixins.sizing(100%, 100%);
			}
		}
	}
	.choice-wrapper-checkbox {
		.icon-wrapper {}
	}
	.choice-wrapper-radio {
		.icon-wrapper {
			&, .icon {
				@include mixins.border-radius(50%);
			}
		}
	}
	.choice-wrapper-active {
		&.choice-wrapper-radio {
			.icon-wrapper .icon {
				@include mixins.if-exists((
					background-color: $forms-choice-color-05,
				));
			}
		}
		.icon-wrapper {
			@include mixins.if-exists((
				background-color: $forms-choice-color-03,
				border-color: $forms-choice-color-04,
				border-width: $forms-choice-active-border-width,
				color: $forms-choice-color-05,
			));
		}
	}

//// FORMS - DESCRIPTION
//// --------------------------------------------------------------------------

	// Style block

	.form-description {}

//// FORMS - ERROR
//// --------------------------------------------------------------------------

	// Colors

	$forms-error-color-01: theme.$color-12; // error background

	// Configuration
	
	$forms-error-spacing: theme.$spacing-x2; // error spacing
	$forms-error-border-width: 1px; // error border width

	// Style block

	.form-error {
		@if $forms-error-border-width != false {
			border: $forms-error-border-width solid $forms-error-color-01;
		}
		@include mixins.if-exists((
			background-color: rgba($forms-error-color-01, 50%),
			padding: $forms-error-spacing,
		));
	}

//// FORMS - FORM
//// --------------------------------------------------------------------------

	// Style block

	.form {
		&.margin-trim > fieldset {
			margin: 0 0 theme.$spacing-x4 0;
		}
	}

//// FORMS - FORM ACTIONS
//// --------------------------------------------------------------------------

	// Configuration

	$forms-form-actions-spacing: theme.$spacing-x2; // spacing for actions wrapper

	// Style block

	.form-actions {
		@include mixins.flex-layout((flex-flow: row wrap));
		@include mixins.gap($forms-form-actions-spacing);
	}

//// FORMS - FORM FIELD
//// --------------------------------------------------------------------------

	// Configuration
	
	$forms-form-field-bp: theme.$bp-01; // breakpoint
	$forms-form-field-spacing: theme.$spacing-x4; // spacing for field wrapper
	$forms-form-field-label-width: 100px; // width for field label
	$forms-form-field-label-vertical: 5px; // position for label inside field wrapper

	// Variables

	$forms-form-field-spacing-half: calc($forms-form-field-spacing / 2);

	// Style block

	.form-field {
		@include mixins.flex-layout((flex-flow: row wrap));
		@include mixins.gap($forms-form-field-spacing-half $forms-form-field-spacing);
		&:has(.choice-wrapper) {
			.form-field-label {
				top: 0;
			}
		}
		.form-field-label, .form-field-control {
			@include mixins.flex(1 1 100%);
			min-width: 1px;
		}
		.form-field-label {
			@include mixins.position($type: relative, $top: $forms-form-field-label-vertical);
		}
		.form-field-control {
			& > * {
				margin: 0 0 $forms-form-field-spacing-half 0;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	@include mixins.respond-min($forms-form-field-bp) {
		.form-field {
			.form-field-label {
				@include mixins.flex(0 1 auto);
				@include mixins.if-exists((
					width: $forms-form-field-label-width,
				));
			}
			.form-field-control {
				@include mixins.flex;
			}
		}
	}

//// FORMS - INPUT
//// --------------------------------------------------------------------------

	// Colors

	$forms-input-color-01: theme.$color-03; // input background
	$forms-input-color-02: theme.$color-04; // input border
	$forms-input-color-03: theme.$color-04; // input color

	// Configuration
	
	$forms-input-spacing: 0 theme.$spacing-x2; // input spacing
	$forms-input-height: 35px; // input height
	$forms-input-border-width: 1px; // input border width

	// Style block

	.input-freeform {
		@include mixins.sizing(100%, $forms-input-height);
		@include mixins.if-exists((
			padding: $forms-input-spacing,
			background-color: $forms-input-color-01,
			color: $forms-input-color-03,
		));
		@if $forms-input-border-width != false and $forms-input-color-02 != false {
			border: $forms-input-border-width solid $forms-input-color-02;
		}
		@if $forms-input-color-03 != false {
			@include mixins.placeholder {
				color: rgba($forms-input-color-03, 50%);
			}
		}
	}
	.input-color {
		@include mixins.sizing(30px, 30px);
		border: 0;
		background-color: theme.$color-03;
		cursor: pointer;
	}

//// FORMS - REQUIRED
//// --------------------------------------------------------------------------

	// Colors

	$forms-required-color-01: red; // required color

	// Configuration
	
	$forms-required-spacing: 0 0 0 calc(theme.$spacing-x1 / 2); // required spacing

	// Style block

	.form-required {
		@include mixins.if-exists((
			color: $forms-required-color-01,
			padding: $forms-required-spacing,
		));
	}

//// FORMS - SELECT
//// --------------------------------------------------------------------------

	// Colors

	$forms-select-color-01: theme.$color-03; // input background
	$forms-select-color-02: theme.$color-04; // input border
	$forms-select-color-03: theme.$color-04; // input color

	// Configuration
	
	$forms-select-spacing: 0 theme.$spacing-x8 0 theme.$spacing-x2; // input spacing
	$forms-select-height: 35px; // input height
	$forms-select-border-width: 1px; // input border width

	// Style block

	.select, .select-wrapper .icon-wrapper {
		@include mixins.if-exists((
			color: $forms-select-color-03,
		));
	}
	.select {
		@include mixins.sizing(100%, $forms-select-height);
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		@include mixins.if-exists((
			padding: $forms-select-spacing,
			background-color: $forms-select-color-01,
		));
		@if $forms-select-border-width != false and $forms-select-color-02 != false {
			border: $forms-select-border-width solid $forms-select-color-02;
		}
	}
	.select-wrapper {
		position: relative;
		.icon-wrapper {
			@include mixins.position($type: absolute, $top: 0, $bottom: 0, $right: theme.$spacing-x2);
			margin: auto 0;
		}
	}

//// FORMS - TEXTAREA
//// --------------------------------------------------------------------------

	// Colors

	$forms-textarea-color-01: theme.$color-03; // textarea background
	$forms-textarea-color-02: theme.$color-04; // textarea border
	$forms-textarea-color-03: theme.$color-04; // textarea color

	// Configuration
	
	$forms-textarea-spacing: theme.$spacing-x2; // textarea spacing
	$forms-textarea-min-height: 150px; // textarea min-height
	$forms-textarea-border-width: 1px; // textarea border width

	// Style block

	.textarea {
		@include mixins.sizing(100%, auto);
		@include mixins.if-exists((
			min-height: $forms-textarea-min-height,
			padding: $forms-textarea-spacing,
			background-color: $forms-textarea-color-01,
			color: $forms-textarea-color-03,
		));
		@if $forms-textarea-border-width != false and $forms-textarea-color-02 != false {
			border: $forms-textarea-border-width solid $forms-textarea-color-02;
		}
		@if $forms-textarea-color-03 != false {
			@include mixins.placeholder {
				color: rgba($forms-textarea-color-03, 50%);
			}
		}
	}