// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// ERROR BOUNDARY
//// --------------------------------------------------------------------------

	// Colors

	$error-boundary-color-01: theme.$color-12; // error boundary background

	// Configuration
	
	$error-boundary-spacing: theme.$spacing-x2; // error boundary spacing
	$error-boundary-border-width: 1px; // error boundary border width

	.error-boundary {
		@include mixins.if-exists((
			padding: $error-boundary-spacing,
			background-color: rgba($error-boundary-color-01, 50%),
		));
		@if $error-boundary-border-width != false {
			border: $error-boundary-border-width solid $error-boundary-color-01;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}