// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// SLIDEOUT
//// --------------------------------------------------------------------------

	// Colors

	$slideout-color-01: theme.$color-09; // overlay
	$slideout-color-02: theme.$color-03; // content background

	// Configuration

	$slideout-spacing: theme.$spacing-x4; // overall spacing value
	$slideout-easing-in: cubic-bezier(0.65, 0, 0.80, 0); // slow start, fast finish - used when closing so the fade gets a head start before the slide takes off
	$slideout-easing-out: cubic-bezier(0.25, 1, 0.35, 1); // fast start, slow finish - used when opening
	$slideout-transition-closed: opacity 0.6s ease-in-out, transform 0.6s $slideout-easing-in; // transition properties for closing
	$slideout-transition-open: opacity 0.6s ease-in-out, transform 0.6s $slideout-easing-out; // transition properties for opening
	$slideout-header: 40px; // height of header (determines scrollable area)

	// Style block

	.slideout-active-body {
		overflow: hidden;
		.slideout-overlay {
			z-index: 9998;
			opacity: 1;
			visibility: visible;
		}
	}
	.slideout-overlay, .slideout .slideout-content {
		@include mixins.position($type: fixed, $top: 0, $bottom: 0, $left: 0, $right: 0);
	}
	.slideout-overlay {
		@include mixins.transition(opacity 0.6s ease-in-out);
		background-color: $slideout-color-01;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
	}
	.slideout-button {
		margin: 0;
	}
	.slideout {
		&.slideout-active {
			.slideout-content {
				@include mixins.transition($slideout-transition-open);
			}
		}
		&.slideout-vertical {
			.slideout-content {
				height: 80%;
				height: calc(100% - calc($slideout-spacing * 2));
				@include mixins.position($left: 0, $right: 0);
				margin: $slideout-spacing auto;
			}
		}
		&.slideout-horizontal {
			.slideout-content {
				@include mixins.position($top: 0, $bottom: 0);
			}
		}
		.slideout-content {
			@include mixins.transition($slideout-transition-closed);
			max-width: 100%;
			background-color: $slideout-color-02;
			z-index: 9999;
			padding: $slideout-spacing;
			.slideout-header {
				margin: 0 0 $slideout-spacing 0;
				height: $slideout-header;
				@include mixins.flex-layout((align-items: center));
				@include mixins.gap(theme.$spacing-x2);
				.slideout-title, .slideout-close {
					margin: 0;
					line-height: 1;
				}
				.slideout-close {
					margin-left: auto;
				}
			}
			.slideout-scrollbar {
				overflow-y: auto;
				overflow-x: hidden;
				height: 100%;
				max-height: 90%;
				max-height: calc(100% - ($slideout-header + $slideout-spacing));
				.navigation {
					.navigation-list {
						display: block;
						.navigation-list-item {
							font-size: functions.em(16px, rem);
							margin: 0  0 theme.$spacing-x2 0;
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
	}